.footer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 2rem;
    align-items: center;
    background-color: #1f1f1f;;
    padding: 2rem;
}

.social {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.footer * {
    font-size: .85rem;
    color: white;
}